article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

.flexParent, header, .recipeSection {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

html {
  font-size: 64.5%; }

h1 {
  font-family: 'Petit Formal Script', cursive;
  font-size: 6rem;
  margin: 0;
  color: white;
  font-weight: lighter;
  width: 100%;
  text-align: center;
  padding-top: 5%; }

h2.main {
  color: #f3f2f2;
  padding: 10px;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 22%;
  width: 100%;
  text-align: center; }

.wrapper {
  margin: 0 auto; }

h3.main {
  font-family: 'Open Sans', sans-serif;
  color: #f3f2f2;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  width: 60%;
  margin: 40px auto;
  font-weight: 300;
  letter-spacing: 1px; }

p {
  font-size: 2rem;
  color: #f3f2f2;
  font-family: 'Open Sans', sans-serif; }

body {
  background: url(../assets/background1-min.jpg) no-repeat;
  background-size: cover; }

div.wrapper {
  max-width: 1120px;
  margin: 0 auto; }

svg {
  width: 100px;
  fill: white;
  margin: 0;
  margin-left: 65%; }

div.left {
  width: 70%; }

div.right {
  margin: 0 auto; }

form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4%; }
  @media (max-width: 480px) {
    form {
      padding: 0; } }
  form select {
    margin: 20px; }
    @media (max-width: 480px) {
      form select {
        width: 80%; } }
    @media (max-width: 435px) {
      form select {
        width: 80%; } }
  form input {
    margin: 20px; }
    @media (max-width: 480px) {
      form input {
        width: 80%; } }

.recipeSection {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .recipeSection div {
    width: 22%; }

.hide {
  display: none; }

.underline {
  width: 200px;
  height: 3px;
  margin: 10px;
  background: #55bfb9;
  margin: 2% 40%; }

select, input {
  background: white;
  color: #55bfb9;
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  width: 400px;
  height: 40px;
  text-align: center; }

div.thereset {
  text-align: center; }

input.reset {
  width: 20%;
  margin-top: 30px; }

input.submit {
  width: 150px;
  background: #55bfb9;
  border: 3px solid white;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 25px auto;
  text-transform: uppercase;
  color: #f3f2f2; }

.receipeDisplaySection {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .receipeDisplaySection div {
    width: 250px;
    border: 3px solid white;
    margin-bottom: 30px; }
    .receipeDisplaySection div h3 {
      font-size: 2rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      text-align: center;
      border-bottom: 2px solid #f3f2f2;
      text-transform: uppercase;
      width: 60%;
      margin: 10px auto; }

.receipeDisplaySection div:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  z-index: 99999; }

div.images {
  position: relative; }

div.images:after {
  content: '';
  display: block;
  padding-top: 100%; }

div.images img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover; }

.receipeDisplaySection p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  text-align: center;
  padding: 0;
  margin: 7px; }

.tagline p {
  color: lightgrey;
  font-size: .5rem;
  text-align: center; }

main.container {
  max-width: 1120px;
  margin: 200px 0; }
  main.container h2 {
    color: white;
    text-align: center;
    font-size: 5rem;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif; }
  main.container a {
    text-decoration: none;
    color: #f3f2f2; }
    main.container a a:visited {
      text-decoration: none;
      color: white; }

img {
  max-width: 100%;
  display: block; }
